USE [master]
GO
/****** Object:  Database [BrightCoreSolutions]    Script Date: 2/24/2026 4:40:30 PM ******/
CREATE DATABASE [BrightCoreSolutions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BrightCoreSolutions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BrightCoreSolutions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BrightCoreSolutions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BrightCoreSolutions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BrightCoreSolutions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BrightCoreSolutions]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/24/2026 4:40:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](20) NULL,
	[Department] [varchar](50) NULL,
	[HireDate] [date] NULL,
	[City] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 2/24/2026 4:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[EmployeeID] [int] NULL,
	[JobTitle] [varchar](50) NULL,
	[Salary] [int] NULL,
	[Bonus] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Gender], [Department], [HireDate], [City]) VALUES (2001, N'John', N'Mensah', N'Male', N'IT', CAST(N'2021-03-15' AS Date), N'Accra')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Gender], [Department], [HireDate], [City]) VALUES (2002, N'Sarah', N'Owusu', N'Female', N'HR', CAST(N'2020-07-22' AS Date), N'Kumasi')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Gender], [Department], [HireDate], [City]) VALUES (2003, N'Daniel', N'Boateng', N'Male', N'Finance', CAST(N'2019-01-10' AS Date), N'Accra')
GO
INSERT [dbo].[Salaries] ([EmployeeID], [JobTitle], [Salary], [Bonus]) VALUES (2001, N'Software Engineer', 75000, 5000)
INSERT [dbo].[Salaries] ([EmployeeID], [JobTitle], [Salary], [Bonus]) VALUES (2002, N'HR Manager', 60000, 4000)
INSERT [dbo].[Salaries] ([EmployeeID], [JobTitle], [Salary], [Bonus]) VALUES (2003, N'Accountant', 65000, 3500)
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
USE [master]
GO
